/*Estilos del perfil*/
.containerPerfilUsuarios {
    padding: 32px;
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra horizontalmente */
    margin-bottom: 20px;
}

.avatar-center img {
    border-radius: 50%;
    margin-right: 16px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.button {
    padding: 8px 16px;
    border-radius: 4px;
    border: 2px solid transparent;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 4px;
    transition: border-color 0.3s ease, color 0.3s ease;
}
.button i {
    font-size: 1.5rem;
    
}

.button.upload {
    color: #0D6EFD;
    /* Color del texto e icono en estado normal */
}

.button.delete {
    color: #dc3545;
    /* Color del texto e icono en estado normal */
}

.button.upload:hover {
    border-color: #0D6EFD;
    /* Borde azul al pasar el cursor */
}

.button.delete:hover {
    border-color: #dc3545;
    /* Borde rojo al pasar el cursor */
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    /* Espacio entre filas */
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    /* Espacio entre columnas */
    width: 100%;
}

.form-group {
    flex: 1;
    min-width: calc(50% - 16px);
    /* Dos columnas con espacio entre ellas */
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 64%;
    margin-left: 160px;
}