.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
  }
  
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .integrantes-group {
    display: flex;
    gap: 10px;
  }
  
  .file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .pdf-icons {
    display: flex;
    gap: 10px;
  }
  
  .docx-icon {
    padding: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }
  
  .file-icon svg {
    margin-top: -10px;
  }
  
  .file-icon:hover {
    background-color: #e0e0e0;
  }
  
  .adjuntarDocumento {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
  }
  
  .btn-submit {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #218838;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
  
  .error-message {
    color: #dc3545;
    margin-top: 10px;
  }
  
  .success-message {
    color: #28a745;
    margin-top: 10px;
  }